<body class="d-flex align-items-center py-5 my-5">
    <main class="form-signin w-100 m-auto">
        <form class="col-md-6 m-auto"> <!-- Ajustar el tamaño del formulario a col-md-6 y añadir la clase m-auto para centrarlo horizontalmente -->
            @if (errorMessage) {
                <p class="my-3 text-danger border border-danger text-center">{{errorMessage}}</p>
            }
            <h1 class="h3 mb-3 fw-normal">Por favor, complete los campos requeridos.</h1>
            <div class="form-floating">
                <input type="email" class="form-control my-4" id="floatingEmail" name="datosNuevo.correo" [(ngModel)]="datosNuevo.email">
                <label for="floatingEmail">Correo electrónico</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control my-4" id="floatingInput" name="datosNuevo.name" [(ngModel)]="datosNuevo.username">
                <label for="floatingInput">Nombre de usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control my-4" id="floatingPassword" name="datosNuevo.password" [(ngModel)]="datosNuevo.password">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control my-4" id="floatingPasswordRepeat" name="repeatpassword" [(ngModel)]="repeatpassword">
                <label for="floatingPasswordRepeat">Repetir Contraseña</label>
            </div>
            <button (click)="crearUsuario()" class="btn btn-primary w-100 py-2" type="button">Registrarse</button>
        </form>
    </main>
</body>
