<body class="d-flex align-items-center py-5 my-5">
    <main class="form-signin w-100 m-auto">
        <form class="col-md-6 mx-auto"> <!-- Ajuste el tamaño del formulario a col-md-6 y añadí la clase mx-auto para centrarlo horizontalmente -->
            @if (errorMessage) {
                <p class="my-3 text-danger border border-danger text-center">{{errorMessage}}</p>
            }
            <h1 class="h3 mb-3 fw-normal">Inicie sesión</h1>
            <div class="form-floating">
                <input type="email" class="form-control my-4" id="floatingInput" name="moldeLogin.correo" [(ngModel)]="moldeLogin.email">
                <label for="floatingInput">Correo electrónico</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control my-4" id="floatingPassword" name="moldeLogin.password" [(ngModel)]="moldeLogin.password" >
                <label for="floatingPassword">Contraseña</label>
            </div>
            <button (click)="login()" class="btn btn-primary w-100 py-2" type="button">Iniciar sesión</button>
        </form>
    </main>
</body>
