<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h2>Hola, bienvenido a Hashing</h2>
        <p>Para poder usar las funciones de Hashing es necesario que <a href="Sign-up">crea una nueva cuenta</a> o si ya tienes una <a href="Login">inicia sesión</a>.</p>
    </div>
</div>
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h2>Como usar la herramienta</h2>
        <p>Escoje uno de los algoritmos hash que mas se acomode a tus necesidades</p>
        <p>Digite una de cadena de texto o seleccione un archivo del cual desea generar un hash</p>
    </div>
</div>