<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4 text-center">
        <h2>Generar Hash</h2>
    </div>    
</div>
<div class="row my-4">
    <div class="col-5 text-center">
        <p>Selecione un algoritmo Hash</p>       
    </div>
    <div class="col-4 row">
        <select name="HashSelecionado" [(ngModel)]="HashSelecionado" >
            <option value="MD5">MD5</option>
            <option value="SHA-1">SHA-1</option>
            <option value="SHA-256">SHA-256</option>
            <option value="SHA-384">SHA-384</option>
            <option value="SHA-512">SHA-512</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-5 text-center">
        <p>Cadena de texto</p>
    </div>
</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-4 row">
        <textarea name="Valor" [(ngModel)]="Valor" cols="50" rows="10"></textarea>
    </div>
</div>
<div class="row my-4">
    <div class="col-5 text-center">
        <p>Hash de archivos</p>
    </div>
    <div class="col-4 text-center">
        <input name="archivoInput" type="file" (change)="onFileSelected($event)">
    </div>
</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-4 row">
        <button (click)="generarCadena()" class="btn btn-warning" type="button">Generar Hash</button>
    </div>
    
</div>
<div class="row">
    <div class="col-5 text-center my-4">
        <p>Resultado:</p>
    </div>
    <div class="col-4 my-4">
        <p>{{resultado}}</p>
    </div>    
</div>