<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4 text-center">
        <h2>Generar Hash</h2>
    </div>    
</div>
<div class="row my-4">
    <div class="col-5 text-center">
        <p>Selecione un algoritmo Hash</p>       
    </div>
    <div class="col-4 row">
        <select [(ngModel)]="HashSelecionado" >
            <option value="MD5">MD5</option>
            <option value="SHA-1">SHA-1</option>
            <option value="SHA-256">SHA-256</option>
            <option value="SHA-384">SHA-384</option>
            <option value="SHA-512">SHA-512</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-5 text-center">
        <p>Cadena de texto</p>
    </div>
</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-4 row">
        <textarea [(ngModel)]="Cadena" cols="50" rows="10"></textarea>
    </div>
</div>
<div class="row my-4">
    <div class="col-5 text-center">
        <p>Hash de archivos</p>
    </div>
    <div class="col-4 text-center">
        <input type="file" [(ngModel)]="archivoInput">
    </div>
</div>
<div class="row">
    <div class="col-5"></div>
    <div class="col-4 row">
        <button class="btn btn-warning" type="button">Generar Hash</button>
    </div>
    
</div>
<div class="row">
    <div class="col-5 text-center my-4">
        <p [(ngModel)]="resultado">Resultado:</p>
    </div>    
</div>